html,body {
    width: 100%;
    height: 100%;
}

/*框架样式*/
.index-wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.index-top-bar {
    background-color: #333;
    padding: 10px 15px;
}

.index-top-img {
    float: left;
    width: 30px;
}

.index-top-login-info {
    float: right;
}

.index-top-login-info span {
    margin-right: 10px;
    color: #fff;
}

.index-top-login-info a {
    color: #fff;
}

.index-top-login-info a:hover,.index-top-login-info a:visited,.index-top-login-info a:focus {
    text-decoration: none;
}

.index-top-login-info a:hover {
    color: #1ccca9;
}

.index-top-app-switch {
    float: left;
    margin-left: 50px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.el-dropdown-link {
    color: #fff!important;
    cursor: pointer;
}

/**
* 主体部分
*/
.index-main-body {
    flex: 1;
    display: flex;
}

#left_nav {
    width: 15%;
    background-color: #333;
    position: relative;
    height: 100%;
}

.index-content-wrap {
    width: 85%;
    padding: 20px 20px 100px;
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*搜索框*/
.search-input {
    margin-top: 30px;
    float: right;
    width: 500px;
}

.search-input .el-select .el-input {
    width: 100px;
}

/*分页*/
.index-page {
    position: absolute;
    width: 100%;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

/**
* 底部样式
*/
.index-footer {
    background-color: #333;
    padding: 10px 15px;
}

.index-footer span {
    color: #fff;
}

/*
* 用户列表
*/
.user-list-wrap {
    clear: both;
}

/*
*审核
*/
.check-btns {
    width: 700px;
    margin: 30px auto 20px;
}

.check-list-body {
    width: 700px;
    margin: auto;
}

.check-list-item {
    border: 1px solid #1ccca9;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.check-item-img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 10px;
}

.check-item-username {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.check-item-createTime {
    color: #666;
    font-size: 14px;
}

.check-item-content {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.check-item-img-groups {
    width: 100%;
}

.check-item-img-groups-img {
    width: 130px;
    display: inline-block;
    margin: 10px;
    background-color: #ececec;
}

.check-item-operate {
    position: absolute;
    top: 10px;
    right: 20px;
}

.check-pass,.check-reject {
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
}

.check-item-check {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #1ccca9;
    font-size: 16px;
}

.check-money {
    font-size: 30px;
    color: #1ccca9;
    font-weight: 600;
    position: absolute;
    right: 20px;
    bottom:20px;
    width: 30px;
    height: 30px;
}