html,body {
    width: 100%;
    height: 100%;
}

/*框架样式*/
.index-wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.index-top-bar {
    background-color: #333;
    padding: 10px 15px;
}

.index-top-img {
    float: left;
    width: 30px;
}

.index-top-login-info {
    float: right;
}

.index-top-login-info span {
    margin-right: 10px;
    color: #fff;
}

.index-top-login-info a {
    color: #fff;
}

.index-top-login-info a:hover,.index-top-login-info a:visited,.index-top-login-info a:focus {
    text-decoration: none;
}

.index-top-login-info a:hover {
    color: #1ccca9;
}

.index-top-app-switch {
    float: left;
    margin-left: 50px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.el-dropdown-link {
    color: #fff!important;
    cursor: pointer;
}

/**
* 主体部分
*/
.index-main-body {
    flex: 1;
}

#left_nav {
    float: left;
    width: 15%;
    background-color: #333;
    position: relative;
    height: 100%;
}

.index-content-wrap {
    float: left;
    width: 85%;
    padding: 20px;
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*搜索框*/
.search-input {
    margin-top: 30px;
    float: right;
    width: 500px;
}

.search-input .el-select .el-input {
    width: 100px;
}

/**
* 底部样式
*/
.index-footer {
    background-color: #333;
    padding: 10px 15px;
}

.index-footer span {
    color: #fff;
}